---
export async function getStaticPaths() {
  const modules = import.meta.glob('../../content/posts/**/*.md', { eager: true });
  return Object.entries(modules).map(([file, mod]) => {
    const slugParts = file
      .replace('../../content/posts/', '')
      .replace(/\.md$/, '')
      .split('/');
    return {
      params: { slug: slugParts.join('/') },
      props: { Content: mod.default, frontmatter: mod.frontmatter ?? {} },
    };
  });
}
const { Content, frontmatter } = Astro.props;
---
<html lang="zh-CN">
  <head><meta charset="utf-8" /><title>{frontmatter.title ?? 'Blog Preview'}</title></head>
  <body>
    <main>
      <article>
        <Content />
      </article>
    </main>
  </body>
</html>
